@charset "UTF-8";

#header {
}
#header h1 {
    position: absolute;
	margin: 120px 180px;
    font-family: exo;
    font-style: normal;
    font-weight: 200;
    text-align: left;
    font-size: 100px;
    color: #ffffff;
    float: none;	
}

#blurb {
    position: absolute;
	margin: 480px 180px;
    font-family: exo;
    font-style: normal;
    font-weight: 200;
    text-align: left;
    font-size: 20px;
    color: #ffffff;
    right: auto;
    float: none;
	width: 600px;
}

.accent {
	background-size: contain;
	margin: 390px 180px;
	height: 200px;
	width: 250px;
	background-image: url("images/green-accent.png");
	background-repeat: no-repeat;
	position: absolute;
}

.stars1 {
	background-size: contain;
	height: 1000px;
	width: 1000px;
	background-image: url("images/clouds/stars1.png");
	background-repeat: no-repeat;
	position: absolute;
	right: -1900px;
	top: 40px;
}
.stars2 {
	background-size: contain;
	height: 1000px;
	width: 1000px;
	background-image: url("images/clouds/stars2.png");
	background-repeat: no-repeat;
	position: absolute;
	right: -1740px;
	top: 40px;
	
}
.vtol {
	background-size: contain;
	height: 280px;
	width: 400px;
	background-image: url("images/vtol.png");
	background-repeat: no-repeat;
	position: absolute;
	right: -1450px;
	top: 400px;
}

.cloud1 {
	background-size: contain;
	height: 60px;
	width: 1000px;
	background-image: url("images/Clouds/cloud1.png");
	background-repeat: no-repeat;
	position: absolute;
	right: -2400px;
	top: 840px;
}
.cloud2 {
	background-size: contain;
	height: 75px;
	width: 1000px;
	background-image: url("images/Clouds/cloud2.png");
	background-repeat: no-repeat;
	position: absolute;
	right: -1700px;
	top: 835px;
}
.cloud3 {
	background-size: contain;
	height: 80px;
	width: 1000px;
	background-image: url("images/Clouds/cloud3.png");
	background-repeat: no-repeat;
	position: absolute;
	right: -1800px;
	top: 800px;
}
.cloud4 {
	background-size: contain;
	height: 80px;
	width: 1000px;
	background-image: url("images/Clouds/cloud4.png");
	background-repeat: no-repeat;
	position: absolute;
	right: -1800px;
	top: 760px;
}
.cloud5 {
	background-size: contain;
	height: 60px;
	width: 1000px;
	background-image: url("images/Clouds/cloud5.png");
	background-repeat: no-repeat;
	position: absolute;
	right: -2150px;
	top: 740px;
}
.cloud6 {
	background-size: contain;
	height: 65px;
	width: 1000px;
	background-image: url("images/Clouds/cloud6.png");
	background-repeat: no-repeat;
	position: absolute;
	right: -1740px;
	top: 730px;
}
.cloud7 {
	background-size: contain;
	height: 75px;
	width: 1000px;
	background-image: url("images/Clouds/cloud7.png");
	background-repeat: no-repeat;
	position: absolute;
	right: -1750px;
	top: 700px;
}
.moon {
	background-size: contain;
	height: 1000px;
	width: 1000px;
	background-image: url("images/moon.png");
	background-repeat: no-repeat;
	position: absolute;
	right: -2150px;
	top: -500px;
}


body {
    background: url("images/background.jpg");
   	width: contain;
}

div {
  height: 100vh;
  width: 100vw;
  position: fixed;
}


.vertical-menu {
	width: 100px;
	margin: 50px 33px;
}

.vertical-menu a {
  color: white;
  display: block;
  text-decoration: none;
  margin: 113px 0px;
  transition: 0.3s;
  text-align: center;
  font-family: exo;
  font-style: normal;
  font-weight: 100;
  font-size: 17px;

}

.vertical-menu a:hover {
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
}

.vertical-menu a.active {
  color: #00d841;
  font-weight: 400;
  font-size: 22px;
}